
.black,
.yellow {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;

}
.black {
    background-color: black;
    color: white;
}
.yellow {
    background-color: yellow;
    color: black;
}

/*
firefox-specific code not working :(

@document url()
{
    .black,
    .yellow {
    font-size: 28px;
    font-family: Arial, "Times New Roman", sans-serif;

    }
    .black {
    background-color: black;
    color: white;
}
.yellow {
    background-color: yellow;
    color: black;

}

} */